:root {
  --heading-font: "Inter", sans-serif;
  --body-font: "Inter", sans-serif;
}

#audioPlayer {
  display: none;
}

#audioImage {
  cursor: pointer;
  position: absolute;
}

.external-padding {
  padding: 2rem 1rem;
}
@media (min-width: 64em) {
  .external-padding {
    padding: 10rem 7rem;
  }
}

@media (min-width: 64em) {
  .heading {
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.2;
  }
}

.justify-left {
  justify-self: left;
}

.justify-right {
  justify-self: right;
}

.audio-image {
  width: 5rem;
}
@media (min-width: 64em) {
  .audio-image {
    width: 16rem;
  }
}

.navigate-back-link {
  display: block;
  position: sticky;
  top: 1rem;
  left: 2rem;
  width: 3rem;
  z-index: 5;
}
@media (min-width: 64em) {
  .navigate-back-link {
    width: 7rem;
    top: 0;
    left: 7rem;
  }
}

.penee-bg-color {
  background-color: var(--bg-penee);
}

.lucky-bg-color {
  background-color: var(--bg-lucky);
}

.animal-gallery {
  min-height: 100vh;
  background-color: rgba(74, 255, 107, 0.26);
}
.animal-gallery__heading {
  margin-block-end: 1rem;
}
@media (min-width: 64em) {
  .animal-gallery__heading {
    margin-block-end: 5rem;
  }
}
.animal-gallery__link-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.875rem;
  margin-block-end: 2rem;
}
@media (min-width: 64em) {
  .animal-gallery__link-wrapper {
    column-gap: 3.75rem;
    margin-block-end: 7rem;
  }
}
.animal-gallery__image {
  width: 8.125rem;
}
@media (min-width: 64em) {
  .animal-gallery__image {
    width: 37.5rem;
  }
}
.animal-gallery__animal-name {
  text-decoration: underline;
}
.animal-gallery__welcome-text {
  font-size: 1.5rem;
  font-weight: 700;
  max-width: 12.5rem;
  margin: 0;
}
@media (min-width: 64em) {
  .animal-gallery__welcome-text {
    font-size: 4.25rem;
    max-width: 34rem;
  }
}
.animal-gallery__audio-image {
  top: 9rem;
  left: calc(50% + 2.5rem);
  rotate: -2deg;
}
@media (min-width: 64em) {
  .animal-gallery__audio-image {
    top: 38rem;
    left: calc(50% + 8rem);
  }
}
