:root {
    --bg-penee: #72FF06;
    --bg-lucky: #21BACB;
    --bg-bingo: #C8FF12;
    --bg-neutral: #faf3e0;
    --text-primary: #9C0981;
    --text-penee: #9C0981;
    --text-lucky: #2ecc71;
    --text-bingo: #DFA24C;
}